@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.myBgmain{
    background:linear-gradient(80deg, #70267f, #3F236D);
    height: 100dvh;
}

.myText{
    color: #853967;
}