@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.myBgmain{
    background:linear-gradient(80deg, #70267f, #3F236D);
    height: 100dvh;
}

.myText{
    color: #F06A15;
}

.myTextbg{
    background: #F06A15;
}

.myColorIc{
    color: #cbd6db;
}

.animate__heartBeat{
    animation-iteration-count: infinite;
    animation-delay: 2s;
    --animate-duration: 2.5s;
    animation-duration: 2.5s;
}